<div class="container">
  <table class="table" style="margin-top:90px;">
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>Name</th>
    </tr>

    <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.email %></td>
      <td><%= u.name %> <% if u.current_sign_in_at != nil %><i style="color:green" class="fa fa-circle" aria-hidden="true"></i><% end %></td>
      <td><%= link_to "Message", 'chatrooms/new?id=' + u.id.to_s %></td>
    </tr>
    <% end %>

  </table>
</div>
