<div class="container">
  <% current_user.starred.each do |u| %>
    <%= render 'users/shared/profile', :user => u %>
  <% end %>

  <% @users.each do |u| %>
    <%= render 'users/shared/profile', :user => u %>
  <% end %>


</div>



<script>
id = 0;
$(document).ready(function(){
  $('.item2').click(function(e){
    elem = $( this );
    e.preventDefault();
    id = elem.attr("href")
    $('#mentor_id').val(id)
    $('#modal-2').modal({backdrop: false, keyboard: false});
  });
});
</script>
