<div class="container">
  <% if @users.empty? %>
    <h4>No users match, please search again.</h4>
  <% end %>
  <% current_user.starred.each do |user| %>
    <%= render 'users/shared/profile', :user => user %>
  <% end %>

  <% @users.each do |user| %>
    <%= render 'users/shared/profile', :user => user %>
  <% end %>


</div>



<!-- <script>
id = 0;
$(document).ready(function(){
  $('.item2').click(function(e){
    elem = $( this );
    e.preventDefault();
    id = elem.attr("href")
    $('#mentor_id').val(id)
    $('#modal-2').modal({backdrop: false, keyboard: false});
  });
});
</script> -->
