<li style="position:relative;"><%= link_to chatroom.other_user(current_user.id, true), chatroom_path(chatroom) %>
<% if chatroom.count_new_messages(current_user.id) > 0 %>
  <span class="button_badge"><%= chatroom.count_new_messages(current_user.id) %></span></li>
<% end %>

</li>
