
<div style="margin-top: 50px;"><div class="row col-md-8 col-md-offset-2" id="chatroom-title">
  <h1>Messages</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="chatrooms">

  <div id="chatroom-errors">

  </div>
    <ul id="chatroom-index">
  <% if @chatrooms.any? %>
      <%= render @chatrooms%>
  <%else %>
    </ul>
    <p>You currently have no messages. <br>Head over to our Mentors page to connect with one!</p>
  <% end %>
</div>
</div>
