





<header>


  <div class="transbox">
      <h3 class="center white-text"> <b>Mentors at your fingertips — Search & Connect with Professionals
      </b></h3>


      <h4 class="center white-text">MentorRoom lets you easily find, connect, and engage with mentors via our mobile app and web platform that is personalized for your needs. Find and explore interesting people to connect with, from tech industry professionals and innovators, to diverse community champions and leaders, and inspiring, talented students. 
      </h4><br><br><br><br>
             
                
      <div class="center-align">
        <a href="/users/sign_in" class="big-btn btn-outline" data-mode="2">Sign In</a>

        
        <a href="/users/sign_up" class="big-btn btn-outline" data-mode="2">Sign Up</a>
      </div>


  </div>


</header>

<!--
   <section class="cta">
       <div class="cta-content">
           <div class="container">
               <h2 style="font-size: 3em; color:#fff; word-spacing: 3px;" >Envision a world <br>where everyone <br>has a mentor.<br>
                 That's what we're <br> working on.
               </h2>

           </div>
       </div>
       <div class="overlay"></div>
   </section> -->

<!--    <section id="contact" class="contact bg-primary">
       <div class="container">
           <h2>We <i class="fa fa-heart"></i> new friends!</h2>
           <ul class="list-inline list-social">
               <li class="social-twitter">
                   <a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li class="social-facebook">
                   <a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li class="social-google-plus">
                   <a href="#"><i class="fa fa-google-plus"></i></a>
               </li>
           </ul>
       </div>
   </section> -->

   <footer>
       <div class="container">
           <p>&copy; MentorRoom 2017</p>
           <!-- <ul class="list-inline">
               <li>
                   <a href="#">Privacy</a>
               </li>
               <li>
                   <a href="#">Terms</a>
               </li>
               <li>
                   <a href="#">FAQ</a>
               </li>
           </ul> -->
       </div>
   </footer>
