// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainNav {
  position: relative;
  margin: 0;
}

.dropdown-menu.notify-dropdown {
    right: 14px;
    top: 55px!important;
    width: 300px;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border: 0;
}

.lg-header {
    text-align: center;
    padding: 15px 10px 13px;
    line-height: 100%;
    border-bottom: 1px solid #F0F0F0;
    color: #4C4C4C;
    margin-bottom: 10px;
}
.lg-body {
    min-height: 350px;
    overflow-x: hidden;
    width: 100%;
}

.list-group .list-group-item {
    border: 0;
    margin: 0;
    padding: 15px 30px;
}

.pull-left {
  float: left;
}

#clear-all {
  position: absolute;
  top: -3px;
  right: 16px;
  margin: 0;
  padding: 0;
  z-index: 3;
}

nav ul a {
  color: #000 !important;
}

#notify-icon {
  line-height: 1;
  display:flex;
  color: white;
  align-items:center;
  padding: 0 10px;
}

.red-icon {
  color: red;
}

.chat {
  min-width: 450px;
  // position: absolute;
  // left: 0; right: 0;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten(gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;


    }

    .my-message {
      background: green;
      &:after {
        left: -2%;
        transform: rotate(270deg);
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .other-message {
      background: blue;

      &:after {
        left: 102%;
        transform: rotate(90deg);
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: blue;
        border-width: 10px;
        margin-left: -10px;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken(blue, 7%);
      }
    }
  }
}

.float-right {
  float: right;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
