// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-size: 14px !important;
}

/*ITZEL's Additions*/

.mr-color {
  background-color:#31A8E2 !important /*teal color for mentorroom*/
}

.mr-font {
  font-family: "Avenir-Book" !important;

/*  font-size: 14px !important;
*/}


.name-title {
  font-size: 30px;
  margin-bottom: 5px;
  display: inline;
}

.card-image {
  margin: 0 auto;
}


.login-card {
  min-height:400px;
  padding:64px 94px;
  /*background-color: black;*/
  background-color:#fff;
  border-radius:8px;
  position:relative;
  text-align:center;
  width:604px;
  margin:auto;
  min-height:720px;
  box-shadow:0 2px 10px rgba(0,0,0,0.45);
  margin-top:100px;
}


.mr-login-button {
/* login_button: */
    width: 80px !important ;
    height: 40px !important ;
    border-color: transparent;
    /* stroke: none; */
    /* fill: #31A8E2; */
    background-color: #31A8E2 !important ;
    font-family: "Avenir-Book" !important ;
    font-size: 18px !important ;
    font-weight: normal !important ;
    letter-spacing: 2 !important ;
    color: white !important ;
    /* fill: #FFFFFF; */
    bottom: 0px !important ;
    left: 0px !important ;
}




/*======================*/
.alert {
  position: absolute;
  right: 35%;
  top: 0;
  z-index: 999;
  width: 31%;
}
.auth-form {
  margin: 5%;
  text-align: center;
}

#new_user div.input-group {
  width: 50%;
  margin-left: 25%;
}

.auth-form label {
  margin-bottom: 3%;
}

.auth-form > form > div.actions {
  margin-top: 3%;
}

.auth-form > form > div.actions input.btn {
  width: 50%;
}

#log-in-title {
  text-align: center;
}

.profile {
  width: 100%;
  position: relative;
  height: 300px;
  color: #fff;
  overflow: hidden;
  background: #cfd8dc;
}
.profile-pic {
  height: 100%;
  /*float: left;*/
  width: 300px;
  overflow: hidden;
  display: flex;
  /* centering */
  float: right;
  position: relative;
  left: -38%; /* or right 50% */

}
.profile-img {
	height: 90%;
  width: 40%;
  border-radius: 67%;
}

.user {
  display: inline-block;
  margin: auto;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}

.user-navbar {
  width: 180px;
  height: 180px;
}
.user-index {
  width: 200px;
  height: 200px;
}
.user-friend-list {
  width: 50px;
  height: 50px;
  display: inline-flex;
}
.friends-name {
  display: inline-flex;
}

.profile-image {
  height: auto;
  width: 52%;
  border-radius: 50%;
}

.name-title {
  margin: 0;
}


.profile-details {
  width: 250px;
  float: left;
  overflow: auto;
  margin-top: 30px;
  height: 100%;
  font-size: 20px;
}

.caret {
  border-color: transparent !important;
}

.autocomplete {
  margin-left: 25px !important;
  position: absolute;
}

.img-icon {
  width: 150px;
}
.side-nav a.icon-container {
  padding: 0;
  display: inline;
}

#pick-skill, #pick-help {
  width: 500px !important;
}

.checkbox-skill, .checkbox-help {
  width: 150px;
  min-height: 67px;
  float: left;
  padding: 9px;
}

.none {
  display:none;
}

.half-opacity {
  opacity: .5;

}



.fa-star {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
}

.dropzone {
  border: 2px dashed #0087F7 !important;
}

.dropzone .dz-preview {
  height: 263px;
  width: 300px;
}
.dropzone .dz-preview .dz-image {
  height: 263px !important;
  width: 300px !important;
}

.dropzone .dz-preview.dz-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.dropzone {
  position: relative;
}

.breadcrumb.active {
  color: white;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 90%;
  }
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

#add-friend {
  height: 24%;
  width: 30%;
}
.modal-content {
  position: initial;
  background-color: initial;
}

.card-content {
  overflow: auto;
}
.white-icon {
  color: white;
}
.right li a {
  margin-right: 10px;
}
.dropdown a {
  padding: 0px;
}
