// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-size: 14px !important;
}

.alert {
  position: absolute;
  right: 35%;
  top: 0;
  z-index: 999;
  width: 31%;
}
.auth-form {
  margin: 5%;
  text-align: center;
}

#new_user div.input-group {
  width: 50%;
  margin-left: 25%;
}

.auth-form label {
  margin-bottom: 3%;
}

.auth-form > form > div.actions {
  margin-top: 3%;
}

.auth-form > form > div.actions input.btn {
  width: 50%;
}

#log-in-title {
  text-align: center;
}

.profile {
  width: 100%;
  position: relative;
  height: 300px;
  color: #fff;
  overflow: hidden;
  background: #3f51b5;
}
.profile-pic {
  height: 100%;
  float: left;
  width: 300px;
  overflow: hidden;
}
.profile-image {
  height: 79%;
  width: 81%;
  margin: 30px;
  border-radius: 50%;
}
.profile-details {
  width: 250px;
  float: left;
  overflow: auto;
  margin-top: 30px;
  height: 100%;
  font-size: 20px;
}

.caret {
  border-color: transparent !important;
}

.autocomplete {
  margin-left: 25px !important;
  position: absolute;
}

.img-icon {
  width: 150px;
}
.side-nav a.icon-container {
  padding: 0;
  display: inline;
}

#pick-skill {
  width: 500px !important;
}

.checkbox-skill, .checkbox-help {
  width: 150px;
  min-height: 67px;
  float: left;
  padding: 9px;
}

.none {
  display:none;
}

.half-opacity {
  opacity: .5;
}

.fa-star {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
}
