

<div class="message-container">
  <div class="message-header">
  </div>
  <div class="message-body">
  </div>
  <div class="message-footer">
    <div id="footer">
	<div id="footer_msgs">
    <%= render '/messages/message_form' %>
  </div>




  </div>
</div>
