<%= content_tag :a, href: "/chatrooms/#{message.chatroom.topic}", class: "list-group-item media notifications", data: {message_id: message.id} do %>
        <div class="media-body">
            <div class="lgi-heading"><%= message.user.name %></div>
            <small class="lgi-text"><%= message.content %></small>
        </div>
    <% end %>
