<div class="container">
    <div class="row">
    <div class="col s12 offset-m4">
    <p>Please upload a profile picture whose file size is less than 8MB.</p>
      <form action="/upload" class="dropify dropzone" style="width: 300px; height: 263px;"
      id="myZone" encType="multipart/data">
      <input type="hidden" name="authenticity_token" id="authenticity_token" value="INEWiIZB5mmVNDaqC+Unvzf0lz8UqIy3mD7Z38zXfiXGqdVOp7a/aS/9pAQFIkUHD1AaL8lUo77XXhr9vWLjgw==" />
      </form>
    </div>
    <div class="col s12 offset-m4">
    <%= form_for @user do |f| %>
      <%= f.hidden_field :picture, id: "upload-pic" %>
      <%= f.submit %>
    <% end %>
  </div>
  </div>
</div>
