
<!-- Universal blue MR color: light-blue accent-3 =  #31A8E2 -->

<div style="height: 100vh;" class="container valign-wrapper">
<div class="row">
        <div id="mentee-signup" class="col s6">
          <div class="card light-blue accent-3 z-depth-3">
            <div class="card-content black-text">
              <h1>Sign up as a mentee</h1>
            </div>
          </div>
        </div>



          <div id="mentor-signup" class="col s6">
              <div class="card indigo lighten-2
                z-depth-3 half-opacity">
                <div class="card-content black-text">
                  <h1>Sign up as mentor</h1>

              </div>
            </div>
          </div>
          <button id="leggo" class="btn blue-grey lighten-5 center black-text">Let's Begin</button>

</div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 none" id="signup" style="position:absolute;height:50%; top:0;left:0;right:0;bottom:0; margin:auto;">
      <div>
        <h3 id="signup-title">Mentee Sign Up</h3>
        <%= render "users/shared/sign_up" %>
      </div>
    </div>
  </div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
