
<!-- Universal blue MR color: light-blue accent-3 =  #31A8E2 -->



<div style="height: 87vh; width: 53vh ;" class="container valign-wrapper">


  <div class="center-align row">


    <div id="mentee-signup" class="col s6">
      <div class="card blue-grey lighten-5 accent-3 z-depth-3 half-opacity">
        <div class="card-content black-text">
          <h3>Student</h3>
        </div>
      </div>
    </div>



      <div id="mentor-signup" class="col s6">
          <div class="card indigo
            z-depth-3 half-opacity">
            <div class="card-content white-text">
              <h3>Mentor</h3>
            </div>
          </div>
      </div>


      <button id="leggo" class="btn mr-color lighten-5 center white-text" style = "margin:10px;">Let's Begin</button>

  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 none" id="signup" style="position:absolute;height:50%; top:0;left:0;right:0;bottom:0; margin:auto;">
      <div>
        <h3 id="signup-title">Mentee Sign Up</h3>
        <%= render "users/shared/sign_up" %>
      </div>
    </div>
  </div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
